<script type="text/javascript">
    RED.nodes.registerType('wonsler-In',{
        category: 'cherry',
        color: '#23A7AF',
        defaults: {
            name: {value:"wonslerIn"}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"wonsler-In";
        }
    });
</script>

<script type="text/x-red" data-template-name="wonsler-In">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="wonsler-In">
    <p>A simple node that converts the message payloads into all wonsler-In characters</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('wonsler-Out',{
        category: 'cherry',
        color: '#23A7AF',
        Defaults: {
            name: {value:"wonslerOut"}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"wonsler-Out";
        }
    });
</script>

<script type="text/x-red" data-template-name="wonsler-Out">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="wonsler-Out">
    <p>A simple node that converts the message payloads into all wonsler-Out characters</p>
</script>
